<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/404.css">
</head>
<body>
<div class="error-section">
    <div class="error-img">
        <img src="images/404.png" alt="404 error" height="420px">
        <a href="/"><button class="hm-bt">Go back to home page</button></a>
    </div>
</div>
</body>
</html>