<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Weather App</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
{{>nav}}
<div class="hero-section">
    <div class="hero-section-inner container">
        <div class="hero-text">
            <p class="hero-head">My Weather App</p>
            <p >A Personal Project - based On API</p>
            <a href="/weather"><span class="hero-bt"> check Weather</span></a>
        </div>
        <div class="-hero-image">
            <img src="./images/bg.png" alt="hero section image" height="400">
        </div>
    </div>  
</div>

{{>footer}}
</body>
</html>