<header>
    <div class="navBar-area container">
        <div class="navBar">
            <div class="logo">
                MyWeatherApp
            </div>
            <div class="Nav-elements">
                <a href="/"><span>Home</span></a>
                <a href="/weather"><span>Weather</span></a>
                <a href="/about"><span>About</span></a>
            </div>
        </div>
    </div>
</header>
